{{#partial "content"}}
    <div class="col-md-4">
    <p>Name: {{staff.description }}</p>
    <p>Role: {{staff.role}}</p>
    <p>Department: {{ department.name }}</p>
        <br>
        <br>
    <p>
        <a href="/staff/{{staff.id}}/edit">Edit Staff</a><br>
        <a href="/departments/{{staff.departmentId}}/staff/{{staff.id}}/delete">Remove this staff</a>
    </p>
    </div>
{{/partial}}

{{> layout.hbs}}