{{#partial "content"}}

<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>name</th>
                <th>role</th>
                <th>department</th>
                <th>Staff Number</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ staff.description }}</td>
                <td>{{ staff.roles }}</td>
                <td>{{ department.name }}</td>
                <td>{{ staff.staff_id }}</td>
            </tr>
        </tbody>
    </table>
</div>


<a href="/staff/{{staff.id}}/edit">Edit Staff</a><br>
<a href="/departments/{{staff.departmentId}}/staff/{{staff.id}}/delete">Remove this staff</a>
</p>
</div>
{{/partial}}

{{> layout.hbs}}