{{#partial "content"}}
    <p>Name: {{staff.description }}</p>
    <p>Department: {{ departments.name }}</p>

    <p>
        <a href="/staff/{{staff.id}}/edit">Edit Staff</a><br>
        <a href="/departments/{{staff.departmentId}}/staff/{{staff.id}}/delete">Remove this staff</a>
    </p>
{{/partial}}

{{> layout.hbs}}